.address h4 {
  margin-bottom: 20px;
  color: #5f5f5f;
  font-weight: 700;
}
.table_address {
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  background: #f8f8f8;
}
.border_top {
  height: 3px;
  width: 100%;
  background-position-x: -30px;
  background-size: 116px 3px;
  background-image: repeating-linear-gradient(
    45deg,
    #222222,
    #222222 33px,
    transparent 0,
    transparent 41px,
    #f89922 0,
    #f89922 74px,
    transparent 0,
    transparent 82px
  );
}
.padding_box {
  padding: 28px 30px 24px;
}
.title_address {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
._20Qrq_ {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  color: #f89922;
  margin-bottom: 20px;
  text-transform: capitalize;
  flex: 1 1 auto;
}
._2t2xOY {
  display: flex;
  margin-right: 9px;
}
.fullName {
  font-weight: 700;
}
._2LiNia {
  color: #929292;
}
.btn_change {
  color: #0055aa;
}
.list_cart {
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  border-radius: 3px;
  margin-top: 40px;
}
.list_cart h4 {
  margin-bottom: 20px;
  color: #5f5f5f;
  font-weight: 700;
}
.title,
.title_section {
  display: flex;
  align-items: center;
}
.title_section {
  height: 50px;
  padding: 24px 30px 0;
  background: #92929214;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
  border-radius: 3px;
}
.title {
  width: 100%;
  height: 30px;
  font-size: 14px;
  color: #bbb;
}
.title_name {
  flex: 1;
  justify-content: center;
  text-align: center;
}
.title_products {
  flex: 1;
  justify-content: flex-start;
  text-align: left;
  font-size: 18px;
  color: #000;
}
.classify_products {
  flex: 2;
  justify-content: center;
  text-align: center;
}
.title_price {
  flex: 2;
  justify-content: flex-end;
  text-align: right;
}
.voucher {
  margin-top: 36px;
}
.voucher h4 {
  margin-bottom: 20px;
  color: #5f5f5f;
  font-weight: 700;
}
._1ru0hU {
  position: relative;
  display: flex;
  align-items: center;
  padding: 28px 30px;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
._4zBNu,
.FgeP4U {
  display: flex;
}
._4zBNu {
  flex-direction: column;
}
._4zBNu,
.YJJdyJ {
  flex-shrink: 0;
  flex-grow: 1;
}
.t57Ey0 {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
}
.y4xiL1 {
  font-size: 18px;
  font-weight: 400;
  margin: 0px 8px;
}
.selectVoucher {
  padding-left: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 15px;
}
.payments {
  margin-top: 36px;
}
.payments h4 {
  margin-bottom: 20px;
  color: #5f5f5f;
  font-weight: 700;
}
.payment_methods {
  background: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  padding: 15px 25px 10px 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid rgb(221, 221, 221);
}
.payment_methods ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.payment_methods ul li {
  font-size: 14px;
  margin-bottom: 30px;
  display: block;
}
.methods {
  display: block;
  margin-right: 15px;
}
.methods input[type="radio"] {
  margin-bottom: 10px;
}
.label {
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
  max-width: 80%;
}
.gkKrcB {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 56px;
}
.method_content {
  margin-right: 12px;
}
.method_content_name {
  line-height: 1.43;
  color: rgb(36, 36, 36);
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 1px;
}
.method_content_name img {
  margin-right: 15px;
}
.total h4 {
  margin-bottom: 20px;
  color: #5f5f5f;
  font-weight: 700;
}
.total_price {
  margin-bottom: 12px;
  border-radius: 3px;
  border: 1px solid rgb(221, 221, 221);
  padding: 20px;
}
.button_order {
  background-color: #f89922;
  color: #fff;
  border: 1px solid rgba(0,0,0,.09);
  text-transform: capitalize;
  width: 210px;
  height: 40px;
}
.button_order:hover {
  background-color: #f89922cc
}
