@font-face {
    font-family: 'Ember', sans-serif;
    src: url(AmazonEmber_W_Rg.woff2) format('woff2'),
    url(AmazonEmber_W_Rg.woff) format('woff'),
    url(AmazonEmber_W_Rg.eot) format('embedded-opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Ember', sans-serif;
    src: url(AmazonEmber_W_RgIt.woff2) format('woff2'),
    url(AmazonEmber_W_RgIt.woff) format('woff'),
    url(AmazonEmber_W_RgIt.eot) format('embedded-opentype');
    font-weight: 400;
    font-style: italic;
}



@font-face {
    font-family: 'Ember', sans-serif;
    src: url(AmazonEmber_W_Th.woff2) format('woff2'),
    url(AmazonEmber_W_Th.woff) format('woff'),
    url(AmazonEmber_W_Th.eot) format('embedded-opentype');
    font-weight: 100;
}

@font-face {
    font-family: 'Ember', sans-serif;
    src: url(AmazonEmber_W_ThIt.woff2) format('woff2'),
    url(AmazonEmber_W_ThIt.woff) format('woff'),
    url(AmazonEmber_W_ThIt.eot) format('embedded-opentype');
    font-weight: 100;
    font-style: italic;
}


@font-face {
    font-family: 'Ember', sans-serif;
    src: url(AmazonEmber_W_SBd.woff2) format('woff2'),
    url(AmazonEmber_W_SBd.woff) format('woff'),
    url(AmazonEmber_W_SBd.eot) format('embedded-opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Ember', sans-serif;
    src: url(AmazonEmber_W_SBdIt.woff2) format('woff2'),
    url(AmazonEmber_W_SBdIt.woff) format('woff'),
    url(AmazonEmber_W_SBdIt.eot) format('embedded-opentype');
    font-weight: 500;
    font-style: italic;
}



@font-face {
    font-family: 'Ember', sans-serif;
    src: url(AmazonEmber_W_Lt.woff2) format('woff2'),
    url(AmazonEmber_W_Lt.woff) format('woff'),
    url(AmazonEmber_W_Lt.eot) format('embedded-opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Ember', sans-serif;
    src: url(AmazonEmber_W_LtIt.woff2) format('woff2'),
    url(AmazonEmber_W_LtIt.woff) format('woff'),
    url(AmazonEmber_W_LtIt.eot) format('embedded-opentype');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Ember', sans-serif;
    src: url(AmazonEmber_W_He.woff2) format('woff2'),
    url(AmazonEmber_W_He.woff) format('woff'),
    url(AmazonEmber_W_He.eot) format('embedded-opentype');
    font-weight: 800;
}

@font-face {
    font-family: 'Ember', sans-serif;
    src: url(AmazonEmber_W_HeIt.woff2) format('woff2'),
    url(AmazonEmber_W_HeIt.woff) format('woff'),
    url(AmazonEmber_W_HeIt.eot) format('embedded-opentype');
    font-weight: 800;
    font-style: italic;
}


@font-face {
    font-family: 'Ember', sans-serif;
    src: url(AmazonEmber_W_Bd.woff2) format('woff2'),
    url(AmazonEmber_W_Bd.woff) format('woff'),
    url(AmazonEmber_W_Bd.eot) format('embedded-opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Ember', sans-serif;
    src: url(AmazonEmber_W_BdIt.woff2) format('woff2'),
    url(AmazonEmber_W_BdIt.woff) format('woff'),
    url(AmazonEmber_W_BdIt.eot) format('embedded-opentype');
    font-weight: 700;
    font-style: italic;
}