.box_address {
  margin-top: 30px;
  margin-bottom: 10px;
}
.section_header {
  display: flex;
  align-items: center;
}
.title {
  flex: 1;
}
.title h2 {
  margin-bottom: 0 !important;
}
.add_address button {
  width: 10em;
  height: 3em;
  align-items: center;
  background-color: #f89922;
  border-radius: 2px;
  color: #ffffff;
  display: flex;
  padding: 0px 20px;
  text-transform: capitalize;
  border: none;
}

.button_with_icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.note {
  display: inline-block;
  color: #f89922;
  border: 1px solid #f89922;
  font-size: 0.75rem;
  font-weight: 400;
  /* height: 22px; */
  padding: 0 10px;
  border-radius: 11px;
  line-height: 24px;
  flex-shrink: 0;
  margin-left: 10px;
}
.box_content h6 {
  display: flex;
  margin-bottom: 10px !important;
}
.box_title {
  width: 160px;
  margin-right: 20px;
  text-align: right;
}
.box_function {
  display: flex;
  justify-content: flex-end;
}
.box_function a {
  padding: 0 10px;
  text-decoration: underline;
}
.disabled {
  pointer-events: none;
    opacity: 0.4;
}
