.note {
  display: inline-block;
  color: #f89922;
  border: 1px solid #f89922;
  font-size: 0.75rem;
  font-weight: 400;
  height: 22px;
  padding: 0 10px;
  border-radius: 11px;
  line-height: 22px;
  flex-shrink: 0;
  margin-left: 10px;
}
