.backgroundHead{
  background-color: rgb(253, 253, 253);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  box-shadow: 10px 10px 10px 10px rgb(253, 253, 253);
}
.backgroundFull{
  background-color: rgb(245, 245, 250);
}
.vendorPart{
  background-color: white;
}
.backgroundCart{
  background-color: white;
}
.totalPart{
  background-color:white
}