.tickImage {
  position: absolute;
  top: -1px;
  right: -1px;
  display: none;
  max-width: 30%;
}
.textSuccess {
  color:#f89922;
  font-size: 16px
}
.vendorBox {
  display: flex;
}
.leftVendor {
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
}
.rightVendor {
  padding-left: 3.4375rem;
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
}
.disabled {
  pointer-events: none;
    opacity: 0.4;
}
